@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, button, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
}

// .button-secondary {
//   color: white;
//   border-radius: 4px;
//   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
// }
//
// .button-secondary {
//   background: rgba(108, 67, 223, 0.55);
// }
//
// .button-xlarge {
//   font-size: 150%;
// }

h1{
  font-size: 72px;
  text-align: center;
}

button, #clock {
  font-size: 30px;
  padding: 10px 15px;
  border: 5px solid black;
  border-radius: 5px;
}

#clock {
  font-weight: bold;
  color: #e68114;
  background-color: #2a9f1e;
  margin-left: 10px;
  display: inline-block;
}


#board {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
}

#controls {
  text-align: center;
  padding: 10px;
}

#board td {
  -webkit-perspective: 1000;
  width: 150px;
  height: 150px;


  .flipper {
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-transition-duration: 1s;
    width: 100%;
    height: 100%;

    .front, .back {
      border: 5px solid black;
      border-radius: 7px;
      position: absolute;
      -webkit-backface-visibility: hidden;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .front {
      z-index: 2;
      background-color: #e68114;
    }

    .back {
      background-size: cover;
      -webkit-transform: rotateY(180deg);
    }
  }
}

img {
  margin-top: 30px;
}

.rotate {
  -webkit-transform: rotateY(180deg);
}
